<!DOCTYPE html>
<html lang="es-AR"  xmlns="https://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar libro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>


        <form action="/savelibro" method="post" > 
            <fieldset >
              <legend>Agregar Libro</legend>
              <div class="mb-3">

                <label for="inputisbn" class="form-label">ingrese el ISBN</label>
                <input type="text" id="inputisbn" class="form-control" placeholder="i.s.b.n." name="isbn">

                <label for="inputtitulo" class="form-label">Ingrese el Titulo</label>
                <input type="text" id="inputtitulo" class="form-control" placeholder="Titulo" name="titulo">

                <label for="inputanio" class="form-label">Ingrese año</label>
                <input type="number" id="inputanio" class="form-control" placeholder="año" name="anio">

                <label for="inputejemplares" class="form-label">Ingrese cantidad de ejemplares</label>
                <input type="numer" id="inputejemplares" class="form-control" placeholder="ejemplares" name="ejemplares" >
                
                <label for="inputejemplaresP" class="form-label">ejemplares prestados</label>
                <input type="numer" id="inputejemplaresP" class="form-control" placeholder="ejemplares prestados" name="ejemplaresPrestados" >
                
                <label for="inputejemplaresR" class="form-label">ejemplares disponibles</label>
                <input type="numer" id="inputejemplaresR" class="form-control" placeholder="ejemplares restantes" name="ejemplaresRestantes" >

                
                <label for="inputautor" class="form-label">Ingrese Autor</label>
                <select  name="autor" id="inputautor"class="form-control"  > 
                
                    <option selected >Selecciona</option>
                      <option
                        th:each=" c : ${autor}" 
                        th:value="${c.id}"
                        th:text="${c.nombre}"> </option>
                     
                      
                </select>

                <label for="inputeditorial" class="form-label">Ingrese Editorial</label>
                <select name="editorial" id="inputeditorial"class="form-control" >
                 
                       <option selected >Selecciona</option>
                    <option th:each=" c : ${editorial}" 
                        
                        th:value="${c.id}"
                        th:text="${c.nombre}"></option>
                     
                 
                </select>



              </div>
    
              <button type="submit" class="btn btn-primary">Agregar</button>
            
              <a href="/" class="btn btn-primary active" aria-current="page">Volver</a>
            </fieldset>
          </form>
    

      



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>